.app__auth {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.app__auth form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.app__auth form input {
    width: 100%;
    border: 0;
    outline: none;
    background: #333333;
    padding: .5rem .75rem;
    border-radius: 8px;
    font-size: 18px;
}

.app__auth form .buttons-container {
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-gap: 1rem;
}

.app__auth form .buttons-container button {
    border: 0;
    outline: none;
    padding: .5rem .75rem;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.app__auth form .buttons-container button:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}